@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: url("https://i.pinimg.com/originals/16/15/8f/16158f24fc89086a9232df1f3d5eb8ef.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px)!important;
}

#firstSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#progresss {
    position: absolute;
    bottom: 5rem;
    font-size: 1rem;
    width: 90vh;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar {
    background: linear-gradient(90deg, rgba(0,92,243,1) 10%, rgba(126,0,139,1) 100%);
    font-size: 1rem;
}
.progress {
    height: 1.3rem!important;
}

.first__div {
    /*background: aqua;*/
    position: relative;
    height: auto; /* 60vh */
    width: 110vh;
    border: none;
    padding: 3rem;
    padding-bottom: 8rem!important;
    /*background-color: white;*/
    color: #03045e;
    font-size: 1.3rem;
    margin-top: -8rem;
    border-radius: 35px;
    backdrop-filter: blur(10px)!important;

    box-shadow: 4px 7px 70px 25px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 4px 7px 70px 25px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 4px 7px 70px 25px rgba(0, 0, 0, 0.77);
}

.btnrow {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.spiner {
    position: absolute;
    z-index: 10;
    transform: translateY(-90%);
    display: none;
    color: white;
}

label {
    color: white;
    opacity: .9;
}
select {
    border: 2px solid #bcee09 !important;
    background-color: rgba(0,0,0,0.3)!important;
    color: #bcee09!important;
}

option {
    background-color: #0088e8!important;
    color: black;
}

input {
    border: 1px solid #bcee09 !important;
    background-color: rgba(0,0,0,0.3)!important;
    color: #bcee09!important;
}

.select2-container--default .select2-selection--multiple {
    border: 2px solid #bcee09 !important;
    background-color: rgba(0,0,0,0.3)!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: transparent!important;
    color: #bcee09!important;
    border: none;
}
.select2-dropdown {
    background-color: #0088e8;
    border: 1px solid #aaa;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1d75ff;
    color: white;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent!important;
}

button:hover {
    box-shadow: 0px 28px 51px -6px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 28px 51px -6px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 28px 51px -6px rgba(0, 0, 0, 0.51);
}

.slika {
    width: 100%;
}

.col-lg-3 {
    margin-bottom: 1.5rem;
}

/*SELECT2*/
.select2-container--default .select2-search--inline .select2-search__field {
    border: none!important;

}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da;!important;
}

/*SWEETALERT*/

.swal2-styled.swal2-confirm {
    background-color: #03045e!important;
}

/* MODAL */
h5#exampleModalCenterTitle {
    transform: translateX(13rem);
}
.btn-close {
    opacity: 1;
}
.modal-header {
    background: linear-gradient(90deg, rgba(0,92,243,1) 10%, rgba(126,0,139,1) 100%);
}
h5#exampleModalCenterTitle {
    color: white;
}
.bodyTxt {
    margin-bottom: 0.8rem;
}
.modal-body {
    padding: 2rem;
}